.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp-buttons{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(121, 121, 248);
  border-radius: 8px;
}
.signUp-form{
  background-color: antiquewhite;
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}
.signUp-form h2{
  text-align: center;
  margin-top:0;
  margin-bottom: 0;

}
