.App{
  max-width: 1024px;
  margin: 0 auto;
}
.sign-up-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signUp-buttons{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(121, 121, 248);
  border-radius: 8px;
}
.signUp-buttons button{
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 12px;
  padding-left: 25px;
}
.signUp-buttons button img{
  height: 28px;
}
.signUp-buttons button span{
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
}
.signUp-form{
  background-color: #F0F8FF;
  width: 70%;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #abb1b7;
}
.signUp-form h2{
  text-align: center;
  margin-top:0;
  margin-bottom: 0;
}

.user-details-area{
  border: 2px solid rgb(121, 121, 248);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  position: relative;
}
.user-photo{
  width: 150px;
  height: 150px;
}
.user-photo img{
  width: 100%;
}
.user-details{
  margin-left: 20px;
}

.sign-out-btn{
  padding: 8px 24px;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}


.details-btn{
  padding: 12px 24px;
  border-radius: 3px;
  background-color: rgb(74, 74, 244);
  border: none;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 18px;
}
.details-btn:hover {
  background-color: rgb(44, 44, 243);
}

/* Sign up form design */

.form-control{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.form-control label{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.form-control input{
  font-size: 18px;
  padding: 5px 8px;
  background-color: #E5E5E5;
  outline: none;
  border: 2px solid rgb(179, 179, 247);
  border-radius: 3px;
  color: #1d1d1d;
}
.form-control input:focus{
  border: 2px solid rgb(106, 106, 248);
  box-shadow: 0 0 3px;
}
.form-control input::placeholder{
  color: #949494;
  font-weight: 200;
}
